html {
	background-color: var(--bg);
	color: var(--fg);
}

#splash {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	cursor: wait;
	background-color: var(--bg);
	opacity: 1;
	transition: opacity 0.5s ease;
}

#splashIcon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 96px;
	height: 96px;
	pointer-events: none;
	animation: splashIcon 0.5s cubic-bezier(0, 0, 0, 1);
}

#splashSpinner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: inline-block;
	width: 28px;
	height: 0px;
	transform: translateY(70px);
	color: var(--splashSpinner);
	opacity: 0;
	animation: fadeIn 0.5s linear 0.5s normal forwards;
}
#splashSpinner > .spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 28px;
	fill-rule: evenodd;
	clip-rule: evenodd;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 1.5;
}
#splashSpinner > .spinner.bg {
	opacity: 0.275;
}
#splashSpinner > .spinner.fg {
	animation: splashSpinner 0.5s linear infinite;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes splashSpinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes splashIcon {
	0% {
		transform: scale(0.5) rotate(-15deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}
